body {
  background-color: #f4f8fb;
}

.bd-navbar {
  background-color: #343434;
  background-image: none;
  background-repeat: no-repeat;
}

#title {
	margin: 0 auto;
	padding-top: 5rem;
	text-align: center;
	font-size: 100px;
	color: #403a30;
	line-height: 1;
}

.subtitle {
	margin: 0 auto;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	text-align: center;
	color: #979698;
	font-weight: 600;
	font-size: 17px;
	line-height: 1.7;

}

#byline {
	margin: 0 auto;
	padding-top: 0.25rem;
	padding-bottom: 1.5rem;
	text-align: left;
	font-size: 14px;
}

#scroll {
  max-width: 60rem;
  margin: 3rem auto;
  background-color: solid red;
  padding: 1rem;
}

.scroll__graphic {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 50vh;
  margin: 0;
  top: 25vh;
  left: 0;
}

.scroll__graphic.is-fixed {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 50vh;
  margin: 0;
  top: 25vh;
  left: 0;
}

.scroll__graphic.is-bottom {
  bottom: 0;
  top: auto;
}

.scroll__graphic #chart {
  position: absolute;
  right: 1rem;
  top: 50%;
  margin: auto;
  justify-content: center;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.scroll__text {
  padding: 0 1rem;
  max-width: 30rem;
  margin: auto;
}

.step {
  min-height: 67vh;
  margin-bottom: 1rem;
  opacity: 1;
}

.step:last-of-type {
  padding-bottom: 60rem;
}

.step p {
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-weight: 400;
  background-color: #E8E8E8;
  opacity:0.25;
  transition: background-color 250ms ease-in-out;
}

.is-active p {
  background-color: #E8E8E8;
  opacity:0.9;
}

.em { 
    font-size: 110%;
    font-weight: 700;
    color: #00bcf1;
}

.barLabels, .barNumbers { 
    font-size: 80%; 
    fill: black;
}

.barNumbers { 
    fill: black;
}

.grade14group circle {
  fill: #B2D235;
}

text.barNumbers {
  font-size: 200%;
}

#container-wide {
  max-width: 90%;

}

.map-scroll {
  /*border: solid purple;*/
  padding-top: 1.5rem;
}

.map-step {
  padding-top: 0.25rem;
  padding-bottom: 5rem;
}

.map-step:last-of-type {
  padding-bottom: 20rem;
}

#map {
  /*border: solid red;*/
  padding-top: 1.5rem;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 18.5%;
  margin: 0;
  top: 1.5rem;
  left: 0;
}

#scrolly-overlay .scrolly {
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem;
}
#scrolly-overlay .scrolly article {
  padding: 0;
  max-width: 30rem;
  margin: 0 auto;
  position: relative;
}
#scrolly-overlay .scrolly article .step {
  min-height: 67vh;
  margin-bottom: 1rem;
}
#scrolly-overlay .scrolly article .step:last-of-type {
  margin-bottom: 0;
}

#scrolly-overlay .scrolly figure.sticky {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 90vh;
  margin: 0;
  top: 5vh;
  left: 0;
}

#map2 {
  position: absolute;
  height: 100%;
  width: 100%;
}

#map3 {
  position: absolute;
  height: 100%;
  width: 100%;
}

.mapboxgl-canvas {
  left: 0;
}

.filler {
  height: 20rem;
  text-align: center;
}

#clock {
    position: absolute;
    right: 1em;
    top: 2em;
    width: 75px;
    height: 75px;
    z-index: 1;
}

#legend {
    position: fixed;
    right: 0em;
    bottom: 1.5em;
    width: 15em;
    background-color: rgba(0,0,0,0.3);
    padding: 1em;
    color: white;
}
#legend .label {
    font-size: 0.75em;
}
#legend #shipLegend {
    margin-top: -1em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1em;
}

#legend .ship {
    text-align: center;
    font-size: 0.5em;
}
#legend .ship svg {
    /*display: block;*/
    zoom: 0.5;
}

.mapboxgl-missing-css{
  display: none !important;
}

.after-map {
  padding-top: 2rem;
}